{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls?state=open&per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5\",\"id\":224467177,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjI0NDY3MTc3\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"diff_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.diff\",\"patch_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.patch\",\"issue_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"number\":5,\"state\":\"open\",\"locked\":false,\"title\":\"Create c\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"\",\"created_at\":\"2018-10-20T10:38:36Z\",\"updated_at\":\"2018-12-03T17:27:47Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"9e1591c59f00924d16f043e66a72f8944497ddf8\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/commits\",\"review_comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/comments\",\"review_comment_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"statuses_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/statuses/a939d1271ff60e4c566727655810073a68cf9c1b\",\"head\":{\"label\":\"<USER>:test5\",\"ref\":\"test5\",\"sha\":\"a939d1271ff60e4c566727655810073a68cf9c1b\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":151802798,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTE4MDI3OTg=\",\"name\":\"mi-pyt-test-repo\",\"full_name\":\"<USER>/mi-pyt-test-repo\",\"private\":false,\"owner\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"forks_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/forks\",\"keys_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/events\",\"assignees_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/merges\",\"archive_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/deployments\",\"created_at\":\"2018-10-06T03:53:05Z\",\"updated_at\":\"2018-10-20T10:35:05Z\",\"pushed_at\":\"2018-10-21T10:16:37Z\",\"git_url\":\"git://github.com/<USER>/mi-pyt-test-repo.git\",\"ssh_url\":\"git@github.com:<USER>/mi-pyt-test-repo.git\",\"clone_url\":\"https://github.com/<USER>/mi-pyt-test-repo.git\",\"svn_url\":\"https://github.com/<USER>/mi-pyt-test-repo\",\"homepage\":null,\"size\":5,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":1,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":2,\"license\":{\"key\":\"mit\",\"name\":\"MIT License\",\"spdx_id\":\"MIT\",\"url\":\"https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"forks\":1,\"open_issues\":2,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"<USER>:master\",\"ref\":\"master\",\"sha\":\"7223c5d8727e1542f739a7faa3562173ff8bd3c7\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/follow[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"8b137891791fe96927ad78e64b0aad7bded08bdc\",\"filename\":\"c\",\"status\":\"added\",\"additions\":1,\"deletions\":0,\"changes\":1,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/a939d1271ff60e4c566727655810073a68cf9c1b/c\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/a939d1271ff60e4c566727655810073a68cf9c1b/c\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/c?ref=a939d1271ff60e4c566727655810073a68cf9c1b\",\"patch\":\"@@ -0,0 +1 @@\\n+\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4923"], "X-RateLimit-Reset": ["1543861148"], "ETag": ["\"8c809d735063fd177711c9fe27b06116\""], "Last-Modified": ["Wed, 28 Nov 2018 21:13:43 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "recorded_at": "2018-12-03T17:30:38"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"repository_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/events\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"id\":372198258,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjI0NDY3MTc3\",\"number\":5,\"title\":\"Create c\"[...]
[...]
