{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "[\"ddd\"]"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false},{\"id\":1131796344,\"node_id\":\"MDU6TGFiZWwxMTMxNzk2MzQ0\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ddd\",\"name\":\"ddd\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4864"], "X-RateLimit-Reset": ["1543669449"], "ETag": ["\"496a32b84f6512b8c3cd3f98767481ae\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "recorded_at": "2018-12-01T12:15:52"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": "[\"ddd\"]"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false},{\"id\":1131796344,\"node_id\":\"MDU6TGFiZWwxMTMxNzk2MzQ0\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ddd\",\"name\":\"ddd\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4826"], "X-RateLimit-Reset": ["1543669449"], "ETag": ["\"496a32b84f6512b8c3cd3f98767481ae\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "recorded_at": "2018-12-01T12:17:42"}], "recorded_with": "betamax/0.8.1"}