{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d/aaaa\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d/aaaa\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/aaaa?ref=b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"abc\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d/abc\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d/abc\",\"contents_url\":\"http[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"repository_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/events\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"id\":386934831,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjM1NTM3OTU4\",\"number\":5,\"title\":\"Add many files05\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1149002228,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI4\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002229,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI5\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002230,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjMw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-12-03T17:55:43Z\",\"updated_at\":\"2018-12-03T17:58:19Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"diff_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.diff\",\"patch_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.patch\"},\"body\":null,\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4577"], "X-RateLimit-Reset": ["1543861148"], "ETag": ["\"41b47b0c637f7f834f0218499aad3889\""], "Last-Modified": ["Mon, 03 Dec 2018 17:58:19 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "recorded_at": "2018-12-03T17:58:20"}, [...]
