{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "DELETE", "uri": "https://api.github.com/repos/hroncok/filabel-testrepo-everybody/issues/1/labels/test_label"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Must have admin rights to Repository.\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#remove-a-label-from-an-issue\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["403 Forbidden"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4983"], "X-RateLimit-Reset": ["1542566384"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 403, "message": "Forbidden"}, "url": "https://api.github.com/repos/hroncok/filabel-testrepo-everybody/issues/1/labels/test_label"}, "recorded_at": "2018-11-18T17:40:51"}], "recorded_with": "betamax/0.8.1"}