{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "[\"ddd\"]"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1149002228,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI4\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002229,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI5\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002230,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjMw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002424,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyNDI0\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ddd\",\"name\":\"ddd\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4580"], "X-RateLimit-Reset": ["1543861148"], "ETag": ["\"787060ab5b6989cd7ffc78d7b50a3b7c\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "recorded_at": "2018-12-03T17:58:19"}, [...]
