{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"8b137891791fe96927ad78e64b0aad7bded08bdc\",\"filename\":\"c\",\"status\":\"added\",\"additions\":1,\"deletions\":0,\"changes\":1,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/a939d1271ff60e4c566727655810073a68cf9c1b/c\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/a939d1271ff60e4c566727655810073a68cf9c1b/c\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/c?ref=a939d1271ff60e4c566727655810073a68cf9c1b\",\"patch\":\"@@ -0,0 +1 @@\\n+\"}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4917"], "X-RateLimit-Reset": ["1542562746"], "ETag": ["\"8c809d735063fd177711c9fe27b06116\""], "Last-Modified": ["Sun, 18 Nov 2018 15:31:08 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "recorded_at": "2018-11-18T17:13:12"}, {"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"repository_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/events\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"id\":372198258,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjI0NDY3MTc3\",\"number\":5,\"title\":\"Create c\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2018-10-20T10:38:36Z\",\"updated_at\":\"2018-11-18T17:13:12Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"pull_request\":{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"diff_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.diff\",\"patch_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.patch\"},\"body\":\"\",\"closed_by\":null}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4916"], "X-RateLimit-Reset": ["1542562746"], "ETag": ["\"c001d9d0cc26469d5cc9534ad75b588f\""], "Last-Modified": ["Sun, 18 Nov 2018 17:13:12 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": ["repo"], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "recorded_at": "2018-11-18T17:13:13"}], "recorded_with": "betamax/0.8.1"}