{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/user"}, "response": {"body": {"encoding": "utf-8", "string": "{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false,\"name\":\"Jan Sokol\",\"company\":\"Kobenhavns Universitet\",\"blog\":\"weedtime.cz\",\"location\":\"Copenhagen\",\"email\":null,\"hireable\":null,\"bio\":\"hacker and *nix fanatic,\\r\\n\\r\\nright now Cloud Engineer in DBAG\",\"public_repos\":19,\"public_gists\":1,\"followers\":4,\"following\":3,\"created_at\":\"2015-02-16T17:53:26Z\",\"updated_at\":\"2018-11-26T16:45:16Z\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4818"], "X-RateLimit-Reset": ["1543669449"], "ETag": ["\"abf0c246d557b05df3de01b1f2718ad4\""], "Last-Modified": ["Mon, 26 Nov 2018 16:45:16 GMT"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/user"}, "recorded_at": "2018-12-01T12:17:44"}], "recorded_with": "betamax/0.8.1"}