{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repositories/160231408/pulls/4/files?per_page=100&page=2"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file19\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/2101d07cd4ce2787de75f29bfe7cbf04f1328ace/file19\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/2101d07cd4ce2787de75f29bfe7cbf04f1328ace/file19\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/file19?ref=2101d07cd4ce2787de75f29bfe7cbf04f1328ace\"},{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"file190\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/2101d07cd4ce2787de75f29bfe7cbf04f1328ace/file190\",\"raw_url\":\"https://github.com/<USER>/mi-pyt-test-repo/raw/2101d07cd4ce2787de75f29bfe7cbf04f1328ace/file190\",\"content[...]
[...]
{"request": {"body": {"encoding": "utf-8", "string": "[\"abc\"]"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1149002228,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI4\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002229,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI5\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002230,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjMw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4614"], "X-RateLimit-Reset": ["1543861148"], "ETag": ["\"b31f66499dccd21fa45e5bf83ad692b7\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels"}, "recorded_at": "2018-12-03T17:55:55"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls?state=open&per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5\",\"id\":235537958,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjM1NTM3OTU4\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"diff_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.diff\",\"patch_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5.patch\",\"issue_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"number\":5,\"state\":\"open\",\"locked\":false,\"title\":\"Add many files05\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":null,\"created_at\":\"2018-12-03T17:55:43Z\",\"updated_at\":\"2018-12-03T18:00:12Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"2e2a39d737229972a492241a41c83f050965f24b\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1149002228,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI4\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/a\",\"name\":\"a\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002229,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjI5\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/ab\",\"name\":\"ab\",\"color\":\"ededed\",\"default\":false},{\"id\":1149002230,\"node_id\":\"MDU6TGFiZWwxMTQ5MDAyMjMw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}],\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/commits\",\"review_comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/comments\",\"review_comment_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/comments{/number}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"statuses_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/statuses/b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d\",\"head\":{\"label\":\"<USER>:pr5\",\"ref\":\"pr5\",\"sha\":\"b656fe0ed07fc2a6ca6dcf508628a0ba8efaed7d\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":160231804,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNjAyMzE4MDQ=\",\"name\":\"mi-pyt-test-repo\",\"full_name\":\"<USER>/mi-pyt-test-repo\",\"private\":false,\"owner\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/<USER>/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/<USER>/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/<USER>/subscriptions\",\"organizations_url\":\"https://api.github.com/users/<USER>/orgs\",\"repos_url\":\"https://api.github.com/users/<USER>/repos\",\"events_url\":\"https://api.github.com/users/<USER>/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/<USER>/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo\",\"description\":null,\"fork\":false,\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"forks_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/forks\",\"keys_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/teams\",\"hooks_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/hooks\",\"issue_events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/events\",\"assignees_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/tags\",\"blobs_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/languages\",\"stargazers_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/stargazers\",\"contributors_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contributors\",\"subscribers_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/subscribers\",\"subscription_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/subscription\",\"commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/merges\",\"archive_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/downloads\",\"issues_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/deployments\",\"created_at\":\"2018-12-03T17:54:52Z\",\"updated_at\":\"2018-12-03T17:55:03Z\",\"pushed_at\":\"2018-12-03T17:55:44Z\",\"git_url\":\"git://github.com/<USER>/mi-pyt-test-repo.git\",\"ssh_url\":\"git@github.com:<USER>/mi-pyt-test-repo.git\",\"clone_url\":\"https://github.com/<USER>/mi-pyt-test-repo.git\",\"svn_url\":\"https://github.com/<USER>/mi-pyt-test-repo\",\"homepage\":\"\",\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":null,\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":0,\"mirror_url\":null,\"archived\":false,\"open_issues_count\":5,\"license\":null,\"forks\":0,\"open_issues\":5,\"watchers\":0,\"default_branch\":\"master\"}},\"base\":{\"label\":\"<USER>:master\",\"ref\":\"master\",\"sha\":\"6f6ff39e977743839a26da12eb2efb80d4dfe064\",\"user\":{\"login\":\"<USER>\",\"id\":11033276,\"node_id\":\"MDQ6VXNlcjExMDMzMjc2\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/11033276?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/<USER>\",\"html_url\":\"https://github.com/<USER>\",\"followers_url\":\"https://api.github.com/users/<USER>/followers\",\"following_url\":\"https://api.github.com/users/<USER>/follow[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/pulls/5/files?per_page=100&page=1"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"sha\":\"e69de29bb2d1d6434b8b29ae775ad8c2e48c5391\",\"filename\":\"aaaa\",\"status\":\"added\",\"additions\":0,\"deletions\":0,\"changes\":0,\"blob_url\":\"https://github.com/<USER>/mi-pyt-test-repo/blob/b656fe0ed07fc2a6c[...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5"}, "response": {"body": {"encoding": "utf-8", "string": "{\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5\",\"repository_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo\",\"labels_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/comments\",\"events_url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/events\",\"html_url\":\"https://github.com/<USER>/mi-pyt-test-repo/pull/5\",\"id\":386934831,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0MjM1NTM3OTU4\",\"number\":5,\"title\":\"Add many f[...]
[...]
