{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": "[\"test_label\"]"}, "headers": {"Content-Type": ["application/json"], "Authorization": ["token <TOKEN>"]}, "method": "POST", "uri": "https://api.github.com/repos/hroncok/filabel-testrepo-everybody/issues/1/labels"}, "response": {"body": {"encoding": "utf-8", "string": "{\"message\":\"Must have admin rights to Repository.\",\"documentation_url\":\"https://developer.github.com/v3/issues/labels/#add-labels-to-an-issue\"}"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["403 Forbidden"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4542"], "X-RateLimit-Reset": ["1543861148"], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 403, "message": "Forbidden"}, "url": "https://api.github.com/repos/hroncok/filabel-testrepo-everybody/issues/1/labels"}, "recorded_at": "2018-12-03T18:01:20"}], "recorded_with": "betamax/0.8.1"}