{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "DELETE", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels/ddd"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4861"], "X-RateLimit-Reset": ["1543669449"], "ETag": ["\"3116d0e907d7a757afb188413187de96\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels/ddd"}, "recorded_at": "2018-12-01T12:15:53"}, [...]
{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "DELETE", "uri": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels/ddd"}, "response": {"body": {"encoding": "utf-8", "string": "[{\"id\":1097988510,\"node_id\":\"MDU6TGFiZWwxMDk3OTg4NTEw\",\"url\":\"https://api.github.com/repos/<USER>/mi-pyt-test-repo/labels/abc\",\"name\":\"abc\",\"color\":\"ededed\",\"default\":false}]"}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4823"], "X-RateLimit-Reset": ["1543669449"], "ETag": ["\"3116d0e907d7a757afb188413187de96\""], "X-OAuth-Scopes": ["delete_repo, repo"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/<USER>/mi-pyt-test-repo/issues/5/labels/ddd"}, "recorded_at": "2018-12-01T12:17:42"}], "recorded_with": "betamax/0.8.1"}